/* 
VARIABLE KEYS
*/

:root {
	--clr-background: hsl(42, 59%, 94%);
	--clr-btn: hsl(223, 79%, 60%);
	--clr-gradient-red: hsl(359, 75%, 66%);
	--clr-gradient-yellow: hsl(28, 77%, 64%);
	--clr-text-body: hsl(0, 1%, 28%);
	--clr-text-bold: hsl(13, 16%, 11%);
	--clr-text-white: hsl(100, 100%, 100%);

	--fnt-fam-1: "Lato";
	--fnt-fam-2: "Playfair-Display";
	--fnt-wght-normal: 400;
	--fnt-wght-bold: 700;
}

/* 
FONT IMPORT
*/

/* ---- Lato - Bold ---- */
@font-face {
	font-family: "Lato";
	src: url(./Assets/Lato-Bold.ttf) format("truetype");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

/* ---- Lato - Normal ---- */
@font-face {
	font-family: "Lato";
	src: url(./Assets/Lato-Regular.ttf) format("truetype");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

/* ---- Playfair Display ---- */

@font-face {
	font-family: "Playfair-Display";
	src: url(./Assets/PlayfairDisplay-VariableFont_wght.ttf)
		format("truetype-variations");
	font-display: swap;
	font-weight: 1 999;
	font-style: normal;
}

/* 
CSS RESET
 */

/*
  1. Use a more-intuitive box-sizing model.
  2. Remove default margin
*/

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
	line-height: 1.7;
	-webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/*
  8. Remove underline from anchor links
*/

a,
a:visited,
a:active {
	text-decoration: none;
}

/* 
GLOBAL
*/

body {
	background-color: var(--clr-background);
	color: var(--clr-text-body);
	font-family: var(--fnt-fam-1);
}

a {
	color: var(--clr-text-body);
}

.flex {
	display: flex;
	flex-direction: column;
}

/* 
MOBILE VIEW
*/

/* ---- Layout ---- */

.header,
.main,
.footer {
	max-width: 1200px;
	width: 92%;
	margin: 0 auto;
}

.header {
	margin-top: 1em;
	margin-bottom: 5.5em;
}

.header__nav,
.header__join {
	display: none;
}

.header--flex,
.header__logo--flex {
	flex-direction: row;
	align-items: center;
}

.header--flex {
	justify-content: space-between;
}

.main__hero {
	height: 440px;
	margin-bottom: 3em;
	position: relative;
}

.main__hero--flex {
	align-items: center;
	justify-content: center;
}

.main__content {
	margin-bottom: 3em;
}

.main__content__form {
	margin-bottom: 0.58em;
}

.footer {
	margin-bottom: 3em;
}

.footer__socials {
	margin-bottom: 3em;
}

.footer__helper--flex {
	flex-direction: row;
	align-items: center;
}
/* ---- Typography ---- */

.header__logo__news {
	font-size: 0.7rem;
	color: var(--clr-text-white);
	background-image: linear-gradient(to left, var(--clr-gradient-red), var(--clr-gradient-yellow));
	padding: 0.45em 1em;
	border-radius: 15px;
}

.main__content__title {
	line-height: 1.2;
	margin-bottom: 0.3em;
	font-size: 3rem;
	font-size: 3.5rem;
	font-weight: var(--fnt-wght-bold);
	color: var(--clr-text-bold);
	font-family: var(--fnt-fam-2);
}

.main__content__copy {
	margin-bottom: 0.8em;
}

.main__content__guarantee__text {
	list-style: none;
	position: relative;
}

.header__nav__list__item__link:hover,
.footer__socials__list__link:hover,
.header__join__login:hover {
	color: var(--clr-btn);
}

.footer__socials__list {
	display: inline-block;
	margin-right: 1.2em;
}

.footer__helper__text__top,
.footer__helper__text__bottom {
	line-height: 1.4;
	color: var(--clr-text-bold);
}

.footer__helper__text__top {
	font-family: var(--fnt-fam-2);
}

.footer__helper__text__bottom {
	font-weight: var(--fnt-wght-bold);
}

/* ---- Assets ---- */

.header__logo__img {
	margin-right: 10px;
}

.header__hamburger__img {
	width: 37px;
}

.btn {
	color: var(--clr-text-white);
	background-color: var(--clr-btn);
	padding: 0.65em 0.9em;
	border-radius: 4px;
	transition-duration: 400ms 300ms;
	transition-property: background padding;
	cursor: pointer;
}

.btn:hover {
	background-color: var(--clr-text-body);
}

.btn:active {
	padding: .60em .7em;
	font-size: .9rem;
}

.main__hero__img,
.main__hero__blue,
.main__hero__pink,
.main__hero__purple {
	position: absolute;
	width: clamp(260px, 80%, 450px);
}

.main__hero__blue {
	z-index: 1;
	transform: rotate(-40deg);
}

.main__hero__pink {
	z-index: 2;
	transform: rotate(-25deg);
}

.main__hero__purple {
	z-index: 3;
	transform: rotate(-14deg);
}

.main__hero__img {
	z-index: 4;
}

input {
	display: block;
	width: 100%;
	padding: 0.65em 0.9em;
	outline: none;
	border: none;
	border-radius: 4px;
}

.main__content__form__input {
	margin-bottom: 0.6em;
}

.main__content__guarantee__text::before {
	content: "";
	background-image: url(./Assets/Checkmark.svg);
	background-size: contain;
	width: 20px;
	height: 20px;
	display: inline-block;
	position: relative;
	top: 0.2em;
	margin-right: 12px;
}

.footer__helper__avatar {
	width: 48px;
	margin-right: 1em;
}

/* 
TABLET VIEW - 700px
*/

@media (min-width: 700px) {
	input {
		display: inline-block;
	}

	.main__content__form__input {
		width: 50%;
		margin-right: 0.7em;
	}

	.main__content__form__btn {
		width: 20%;
	}

	.footer--flex {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.footer__socials {
		margin-bottom: 0;
	}
}

/* 
DESKTOP VIEW - 1200px
*/

@media (min-width: 1200px) {
	/* ---- Layout ---- */

	.header__hamburger {
		display: none;
	}

	.header__join,
	.header__nav {
		display: block;
	}

	.main--flex  {
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
	}

	.main__hero {
		width: 40%;
	}

	.main__content {
		width: 50%;
	}

	/* ---- Typography ---- */

	.header__nav__list__item {
		list-style: none;
		display: inline-block;
		margin-left: 1em;
	}

	.header__join__waitlist,
	.header__join__login {
		display: inline-block;
	}

	.header__join__waitlist {
		margin-left: .7em;
	}
}
